@media (min-width: 360px) and (max-width: 404.9px) {
  #servicesInfo {
    color: white;
    background: #aba7a7; }

  #servicesInfo h1 {
    margin-left: 150px;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 28px; }

  #servicesInfo h2 {
    width: 320px;
    margin-left: 50px;
    font-size: 18px;
    padding-bottom: 20px; }

  #container_services {
    padding-top: 20px;
    padding-bottom: 100px;
    background: #212121; }

  #haircut {
    width: 100%;
    margin-right: 25px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 50px; }

  #haircut img {
    width: 150px;
    margin-top: 45px; }

  #haircut_text p {
    margin-top: -25px;
    padding-left: 10px;
    font-size: 13px;
    color: gray;
    clear: both; }

  #haircut_text h1 {
    color: #454444;
    font-size: medium;
    -webkit-transform: translate(-120px, -10px);
            transform: translate(-120px, -10px); }

  #haircut_text button {
    width: 120px;
    margin-top: 13px;
    padding: 8px;
    background: #212121;
    color: white;
    border: 1px solid white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer; }

  #hair_coloring {
    width: 100%;
    margin-top: 20px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 50px; }

  #hair_coloring img {
    margin-top: 30px;
    margin-left: 90px;
    width: 150px;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px); }

  #hair_coloring_text p {
    margin-top: -20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: gray; }

  #hair_coloring_text h1 {
    -webkit-transform: translate(190px, -15px);
            transform: translate(190px, -15px);
    font-size: 15px;
    color: #454444; }

  #hair_coloring_text button {
    width: 120px;
    margin-top: 30px;
    padding: 8px;
    background: #212121;
    color: white;
    border: 1px solid white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer; }

  #laser_hair_removal {
    width: 100%;
    margin-top: 20px;
    margin-right: 25px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 50px; }

  #laser_hair_removal img {
    width: 150px;
    margin-top: 70px; }

  #laser_text p {
    margin-top: -10px;
    padding-left: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    color: gray; }

  #laser_text h1 {
    color: #454444;
    font-size: 15px;
    -webkit-transform: translate(-130px, 0px);
            transform: translate(-130px, 0px); }

  #laser_text button {
    width: 130px;
    margin-top: 10px;
    padding: 8px;
    background: #212121;
    color: white;
    border: 1px solid white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer; }

  #sugaring {
    width: 100%;
    margin-top: 20px;
    margin-right: 25px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 50px; }

  #sugaring img {
    width: 140px;
    height: 130px;
    margin-left: 20px;
    margin-top: 50px; }

  #sugaring p {
    margin-top: -20px;
    font-size: 13px;
    letter-spacing: 1px;
    color: gray; }

  #sugaring h1 {
    font-size: 18px;
    color: #454444;
    -webkit-transform: translate(190px, -10px);
            transform: translate(190px, -10px); }

  #sugaring button {
    margin-top: 20px;
    padding: 8px;
    background: #212121;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer; }

  #servicesFooter {
    margin-top: 0px; } }
@media (min-width: 405px) and (max-width: 799.9px) {
  #servicesInfo {
    color: white;
    background: #aba7a7; }

  #servicesInfo h1 {
    text-align: justify;
    margin-left: 150px;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 28px; }

  #servicesInfo h2 {
    text-align: justify;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 18px;
    padding-bottom: 20px; }

  #container_services {
    padding-top: 20px;
    padding-bottom: 100px;
    background: #212121; }

  #haircut {
    width: 100%;
    margin-right: 25px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 50px; }

  #haircut img {
    width: 150px;
    margin-top: 30px; }

  #haircut_text p {
    padding-left: 10px;
    font-size: 13px;
    color: gray;
    clear: both; }

  #haircut_text h1 {
    color: #454444;
    font-size: medium;
    -webkit-transform: translate(-120px, -10px);
            transform: translate(-120px, -10px); }

  #haircut_text button {
    margin-top: 10px;
    padding: 5px;
    background: #212121;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer; }

  #hair_coloring {
    width: 100%;
    margin-top: 20px;
    margin-right: 25px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 50px; }

  #hair_coloring img {
    margin-top: 20px;
    margin-left: 50px;
    width: 150px;
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px); }

  #hair_coloring_text p {
    font-size: 12px;
    letter-spacing: 1px;
    color: gray; }

  #hair_coloring_text h1 {
    -webkit-transform: translate(180px, -17px);
            transform: translate(180px, -17px);
    font-size: 15px;
    color: #454444; }

  #hair_coloring_text button {
    width: 120px;
    margin-top: 10px;
    padding: 4px;
    background: #212121;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer; }

  #laser_hair_removal {
    width: 100%;
    margin-top: 20px;
    margin-right: 25px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 50px; }

  #laser_hair_removal img {
    width: 150px;
    margin-top: 70px; }

  #laser_text p {
    padding-left: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    color: gray; }

  #laser_text h1 {
    color: #454444;
    font-size: 15px;
    -webkit-transform: translate(-130px, 0px);
            transform: translate(-130px, 0px); }

  #laser_text button {
    margin-top: 20px;
    padding: 5px;
    background: #212121;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer; }

  #sugaring {
    width: 100%;
    margin-top: 20px;
    margin-right: 25px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 50px; }

  #sugaring img {
    width: 150px;
    height: 130px;
    margin-top: 50px;
    margin-left: 20px; }

  #sugaring p {
    margin-top: 20px;
    font-size: 13px;
    letter-spacing: 1px;
    color: gray; }

  #sugaring h1 {
    font-size: 18px;
    color: #454444;
    -webkit-transform: translate(190px, 1px);
            transform: translate(190px, 1px); }

  #sugaring button {
    margin-top: 20px;
    padding: 8px;
    background: #212121;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer; }

  #servicesFooter {
    margin-top: 0px; } }
@media (min-width: 800px) and (max-width: 899.9px) {
  #servicesInfo {
    color: white;
    background: #aba7a7; }

  #servicesInfo h1 {
    margin-left: 350px;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 28px; }

  #servicesInfo h2 {
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 18px;
    padding-bottom: 20px; }

  #container_services {
    padding-top: 20px;
    padding-bottom: 100px;
    background: #212121; }

  #haircut {
    height: 450px;
    margin-left: 100px;
    margin-right: 110px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 50px; }

  #haircut img {
    width: 250px;
    margin-top: 50px; }

  #haircut_text p {
    margin-top: 20px;
    font-size: 23px;
    letter-spacing: 1px;
    color: gray; }

  #haircut_text h1 {
    color: #454444; }

  #haircut_text button {
    margin-top: 20px;
    padding: 10px;
    background: #212121;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transform: translate(-200px, -35px);
            transform: translate(-200px, -35px); }

  #hair_coloring {
    height: 450px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 110px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 50px; }

  #hair_coloring img {
    margin-top: 20px;
    width: 250px; }

  #hair_coloring_text p {
    margin-top: 20px;
    font-size: 23px;
    letter-spacing: 1px;
    color: gray; }

  #hair_coloring_text h1 {
    color: #454444; }

  #hair_coloring_text button {
    margin-top: 20px;
    padding: 10px;
    background: #212121;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transform: translate(300px, -35px);
            transform: translate(300px, -35px); }

  #laser_hair_removal {
    height: 450px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 110px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 50px; }

  #laser_hair_removal img {
    width: 300px;
    margin-top: 50px; }

  #laser_text p {
    margin-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    color: gray; }

  #laser_text h1 {
    color: #454444; }

  #laser_text button {
    margin-top: 20px;
    padding: 10px;
    background: #212121;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transform: translate(-200px, -55px);
            transform: translate(-200px, -55px); }

  #sugaring {
    height: 450px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 110px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 50px; }

  #sugaring img {
    width: 300px;
    margin-top: 70px; }

  #sugaring p {
    margin-top: 20px;
    font-size: 23px;
    letter-spacing: 1px;
    color: gray; }

  #sugaring h1 {
    color: #454444; }

  #sugaring button {
    margin-top: 20px;
    padding: 10px;
    background: #212121;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transform: translate(300px, -55px);
            transform: translate(300px, -55px); }

  #servicesFooter {
    margin-top: 0px; } }
@media (min-width: 900px) and (max-width: 1299.9px) {
  #servicesInfo {
    color: white;
    background: #aba7a7; }

  #servicesInfo h1 {
    margin-left: 350px;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 28px; }

  #servicesInfo h2 {
    margin-right: 100px;
    margin-left: 100px;
    text-align: justify;
    font-size: 18px;
    padding-bottom: 20px; }

  #container_services {
    padding-top: 20px;
    padding-bottom: 100px;
    background: #212121; }

  #haircut {
    height: 450px;
    margin-left: 100px;
    margin-right: 110px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 50px; }

  #haircut img {
    width: 250px;
    margin-top: 50px; }

  #haircut_text p {
    margin-top: 20px;
    font-size: 23px;
    letter-spacing: 1px;
    color: gray; }

  #haircut_text h1 {
    color: #454444; }

  #haircut_text button {
    margin-top: 20px;
    padding: 10px;
    background: #212121;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer; }

  #hair_coloring {
    height: 450px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 110px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 50px; }

  #hair_coloring img {
    margin-top: 20px;
    width: 250px; }

  #hair_coloring_text p {
    margin-top: 20px;
    font-size: 23px;
    letter-spacing: 1px;
    color: gray; }

  #hair_coloring_text h1 {
    color: #454444; }

  #hair_coloring_text button {
    margin-top: 20px;
    padding: 10px;
    background: #212121;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer; }

  #laser_hair_removal {
    height: 450px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 110px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 50px; }

  #laser_hair_removal img {
    width: 300px;
    margin-top: 50px; }

  #laser_text p {
    margin-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    color: gray; }

  #laser_text h1 {
    color: #454444; }

  #laser_text button {
    margin-top: 20px;
    padding: 10px;
    background: #212121;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer; }

  #sugaring {
    height: 450px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 110px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 50px; }

  #sugaring img {
    width: 300px;
    margin-top: 70px; }

  #sugaring p {
    margin-top: 20px;
    font-size: 23px;
    letter-spacing: 1px;
    color: gray; }

  #sugaring h1 {
    color: #454444; }

  #sugaring button {
    margin-top: 20px;
    padding: 10px;
    background: #212121;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer; }

  #servicesFooter {
    margin-top: 0px; } }
@media (min-width: 1300px) {
  #servicesFooter {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }

  #servicesInfo {
    height: 400px;
    color: white;
    background: #aba7a7; }

  #servicesInfo h1 {
    -webkit-transform: translate(670px, 100px);
            transform: translate(670px, 100px);
    margin-bottom: 20px;
    font-size: 48px; }

  #servicesInfo h2 {
    -webkit-transform: translate(150px, 100px);
            transform: translate(150px, 100px);
    margin-bottom: 20px; }

  #container_services {
    padding-bottom: 250px;
    background: #212121; }

  #haircut {
    width: 1140px;
    height: 450px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-transform: translate(150px, 40px);
            transform: translate(150px, 40px);
    background: white;
    border-radius: 50px; }

  #haircut img {
    width: 300px; }

  #haircut_text p {
    width: 700px;
    margin-top: 20px;
    font-size: 35px;
    letter-spacing: 1px;
    color: gray; }

  #haircut_text h1 {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    color: #454444; }

  #haircut_text button {
    margin-top: 20px;
    padding: 10px;
    background: #212121;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer; }

  #hair_coloring {
    width: 1140px;
    height: 450px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-transform: translate(150px, 100px);
            transform: translate(150px, 100px);
    background: white;
    border-radius: 50px; }

  #hair_coloring img {
    width: 300px;
    margin-top: -20px;
    -webkit-transform: translateX(40px);
            transform: translateX(40px); }

  #hair_coloring_text p {
    width: 700px;
    margin-top: 20px;
    font-size: 37px;
    letter-spacing: 1px;
    color: gray; }

  #hair_coloring_text h1 {
    -webkit-transform: translateX(110px);
            transform: translateX(110px);
    color: #454444; }

  #hair_coloring_text button {
    margin-top: 10px;
    padding: 10px;
    background: #212121;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer; }

  #laser_hair_removal {
    width: 1140px;
    height: 450px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-transform: translate(150px, 150px);
            transform: translate(150px, 150px);
    background: white;
    border-radius: 50px; }

  #laser_hair_removal img {
    width: 500px; }

  #laser_text p {
    margin-top: 10px;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    font-size: 27px;
    letter-spacing: 1px;
    color: gray; }

  #laser_text h1 {
    -webkit-transform: translateX(70px);
            transform: translateX(70px);
    color: #454444; }

  #laser_text button {
    margin-top: 10px;
    padding: 10px;
    background: #212121;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transform: translateX(25px);
            transform: translateX(25px); }

  #sugaring {
    width: 1140px;
    height: 450px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-transform: translate(150px, 200px);
            transform: translate(150px, 200px);
    background: white;
    border-radius: 50px; }

  #sugaring img {
    width: 500px;
    margin-left: 20px; }

  #sugaring p {
    margin-top: 20px;
    font-size: 30px;
    letter-spacing: 1px;
    color: gray; }

  #sugaring h1 {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    color: #454444; }

  #sugaring button {
    margin-top: 20px;
    padding: 10px;
    background: #212121;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer; } }

/*# sourceMappingURL=services.css.map */