@media(min-width:360px) and (max-width:799.9px){
  body{
    background: rgb(218, 214, 214);
  }
  #contactsFooter{
    margin-top: 0px;
  }
  #contacts_text h1{
    font-size: 30px;
    margin-left: 90px;
    text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
    color: rgb(63, 62, 62);
  }
  #contacts_text img{
    width: 100px;
    transform: translateX(140px);
  }
  #contacts_container{
    background: white;
    padding-bottom: 40px;
    padding-top: 40px;
  }
  #geolocation{
    margin-left: 50px;
    margin-right: 30px;
    padding: 20px;
    background: rgb(218, 214, 214);
    border-radius: 20px;
  }
  iframe{
    width: 100%;
  }
  #our_contacts{
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 30px;
    padding: 20px;
    background: rgb(83, 81, 81);
    border-radius: 20px;
    color: white;
  }
  #our_contacts p{
    margin-bottom: 30px;
    margin-top: 10px;
    font-style: italic;
    font-size: large;
   }
}
@media(min-width:800px) and (max-width:1299.9px){
  body{
    background: rgb(218, 214, 214);
  }
  #contacts_text h1{
    font-size: 30px;
    margin-left: 300px;
    text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
    color: rgb(63, 62, 62);
  }
  #contacts_text img{
    width: 100px;
    transform: translate(370px,20px);
    margin-bottom: 50px;
  }
  #contacts_container{
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
  }
  #geolocation{
    padding: 20px;
    background: rgb(218, 214, 214);
    border-radius: 20px;
  }
  iframe{
    width: 100%;
    height: 350px;
  }
  #our_contacts{
    margin-left: 15px;
    padding: 20px;
    background: rgb(83, 81, 81);
    border-radius: 20px;
    color: white;
  }
  #our_contacts p{
    margin-bottom: 20px;
    margin-top: 10px;
    font-style: italic;
    font-size: large;
   }
}
@media(min-width:1300px){
body{
  background: rgb(218, 214, 214);
}
#contactsFooter{
  transform: translateY(100px);
}
#contacts_text{
  transform: translate(500px,40px);
}
#contacts_text h1{
  font-size: 30px;
  letter-spacing: 2px;
  text-shadow: 
  0 1px 0 #ccc, 
  0 2px 0 #c9c9c9, 
  0 3px 0 #bbb, 
  0 4px 0 #b9b9b9, 
  0 5px 0 #aaa, 
  0 6px 1px rgba(0,0,0,.1), 
  0 0 5px rgba(0,0,0,.1), 
  0 1px 3px rgba(0,0,0,.3), 
  0 3px 5px rgba(0,0,0,.2), 
  0 5px 10px rgba(0,0,0,.25), 
  0 10px 10px rgba(0,0,0,.2), 
  0 20px 20px rgba(0,0,0,.15);
  color: rgb(63, 62, 62);
  transform: translate(110px,20px);
}
#contacts_text img{
  width: 100px;
  transform: translate(170px,20px);
}
#contacts_container{
  width: 100%;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transform: translateY(100px);
  background: white;
}
#geolocation{
  width: 600px;
  padding: 40px;
  transform: translateX(110px);
  background: rgb(218, 214, 214);
  border-radius: 20px;
}
iframe{
  width: 100%;
}
#our_contacts{
  width: 435px;
  padding: 40px;
  transform: translateX(75px);
  background: rgb(83, 81, 81);
  border-radius: 20px;
  color: white;
}
#our_contacts p{
  margin-bottom: 50px;
  margin-top: 10px;
  font-style: italic;
  font-size: large;
 }
}